.btn {
  @include font-size(20);

  @include media-breakpoint-up(lg) {
    @include font-size(23);
  }
}

// Set focus state on these elements.
a,
button,
input,
.btn-link,
.btn-warning {
  &:focus {
    border-color: #51cfff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 151, 208, 0.25);
  }
}

// Wrap buttons in this class for consistent vertical spacing.
.btn-wrapper {
  @include media-breakpoint-up(lg) {
    margin-top: 2rem;
  }
}

// Yellow button
.btn-warning {
  position: relative;
  border: 2px solid $yellow;
  font-weight: $font-weight-bold;
  color: $body-color;
  width: 13.75rem;
  padding: 0.188rem 0.75rem;

  @include media-breakpoint-up(lg) {
    width: 16.875rem;
    padding: 0.688rem;
  }

  .icon {
    position: absolute;
    top: 0.5rem;
    right: 1rem;
    width: 1rem;
    height: 1rem;

    @include media-breakpoint-up(lg) {
      top: 1rem;
      width: 1.5rem;
      height: 1.5rem;
    }
  }
}

// CTA Link White
.cta-link-white {
  position: relative;
  border: 2px solid #ffffff;

  .nav-link {
    color: white;
    @include font-size(17);
    font-weight: 700;
    text-decoration: none;

    @include media-breakpoint-up(lg) {
      @include font-size(23);
      margin-right: 0;
    }
  }

  .icon {
    width: 1.25rem;
    height: 1.25rem;
    position: absolute;
    top: 0.75rem;
    right: 1rem;

    @include media-breakpoint-up(md) {
      right: 13rem;
    }

    @include media-breakpoint-up(lg) {
      top: 1rem;
      right: auto;
    }
  }

  @include media-breakpoint-up(md) {
    border: 0;
    display: block;
    text-align: center;
  }
}

// White button with cyan border
.btn-outline-primary {
  font-weight: $font-weight-bold;
  color: $body-color;
  position: relative;
  border: 2px solid $primary;
  width: 13.75rem;

  &:hover,
  &:focus {
    background-color: $blue;
    color: $white;
    border: 2px solid $blue;
  }

  @include media-breakpoint-up(lg) {
    width: 17.5rem;
    padding: 0.688rem 0.75rem;
  }

  .arrow-right-blue,
  .arrow-right-white {
    position: absolute;
    top: 0.6rem;
    right: 0.75rem;

    @include media-breakpoint-up(lg) {
      top: 1rem;
      right: 0.75rem;
    }
  }

  .arrow-left-blue,
  .arrow-left-white {
    position: absolute;
    top: 0.65rem;
    left: 0.75rem;

    @include media-breakpoint-up(lg) {
      top: 1.25rem;
      left: 0.75rem;
    }
  }
}

// White button with gray border
.btn-outline-secondary {
  color: $gray-600;
  background-color: $white;
  border: 2px solid $gray-300;
  border-radius: 4px;
  font-weight: $font-weight-bold;

  @include media-breakpoint-up(lg) {
    width: 170px;
    height: 50px;
    margin-right: 1rem;
  }

  &:hover,
  &:not(:disabled):not(.disabled):active,
  &:not(:disabled):not(.disabled).active {
    background-color: $teal;
    border: 2px solid $cyan;
    color: $cyan;
  }

  &.routes,
  &.dollar-amount {
    width: 70px;
    height: 40px;

    @include media-breakpoint-up(lg) {
      height: 50px;
    }
  }
}

.btn-outline-white {
  position: relative;
  border: 2px solid $white;
  color: $white;
  font-weight: $font-weight-bold;
  width: 270px;
  padding: 0.188rem 0.75rem;

  @include media-breakpoint-up(lg) {
    padding: 0.688rem 0.75rem;
  }

  &::after {
    position: absolute;
    content: "";
    background-image: url("../../../../../img/svg/arrow-right-white.svg");
    background-repeat: no-repeat;
    top: 0.6rem;
    right: 0.75rem;
    width: 1.25rem;
    height: 1.25rem;

    @include media-breakpoint-up(lg) {
      top: 1.25rem;
    }
  }

  &:hover {
    color: $cyan;
    background-color: $white;
    &::after {
      background-image: url("../../../../../img/svg/arrow-right-blue.svg");
    }
  }
}

.btn-outline-info {
  font-weight: $font-weight-bold;
  color: $body-color;
  position: relative;
  border: 2px solid $blue;
  width: 13.75rem;
  background-color: $white;
  &:hover,
  &:not(:disabled):not(.disabled):active,
  &:not(:disabled):not(.disabled).active {
    background-color: $teal;
    border: 2px solid $cyan;
    color: $cyan;
  }

  @include media-breakpoint-up(lg) {
    width: 17.5rem;
    padding: 0.688rem 0.75rem;
  }
}

.button-container-icon-right {
  position: relative;
  //   text-align: center;
  margin-bottom: 15px;

  @include media-breakpoint-up(lg) {
    margin-bottom: 30px;
  }

  .circle-blue-outline-question {
    position: absolute;
    left: 0rem;
    width: 2.5rem;
    height: 2.5rem;

    @include media-breakpoint-up(md) {
      top: 0.25rem;
      left: 12.5rem;
    }

    @include media-breakpoint-up(lg) {
      left: 22.5rem;
      top: 0.5rem;
      width: 3rem;
      height: 3rem;
    }
  }

  .btn-outline-primary {
    position: relative;

    &::after {
      position: absolute;
      content: "";
      background-image: url("../../../../../img/svg/arrow-right-blue.svg");
      background-repeat: no-repeat;
      top: 0.75rem;
      right: 0.75rem;
      width: 1.25rem;
      height: 1.25rem;

      @include media-breakpoint-up(lg) {
        top: 1.25rem;
      }
    }

    &:hover {
      &::after {
        background-image: url("../../../../../img/svg/arrow-right-white.svg");
      }
    }
  }
}

.button-container-icon-left {
  position: relative;
  //   margin-bottom: 15px;

  //   @include media-breakpoint-up(lg) {
  //     margin-bottom: 30px;
  //   }

  .btn-outline-primary {
    position: relative;

    &::before {
      position: absolute;
      content: "";
      background-image: url("../../../../../img/svg/arrow-left-blue.svg");
      background-repeat: no-repeat;
      top: 0.6rem;
      left: 0.75rem;
      width: 1.25rem;
      height: 1.25rem;

      @include media-breakpoint-up(lg) {
        top: 1.25rem;
        width: 1.5rem;
        height: 1.5rem;
      }
    }

    &:hover {
      &::before {
        background-image: url("../../../../../img/svg/arrow-left-white.svg");
      }
    }
  }
}

.btn-extend {
  width: 20rem;

  @include media-breakpoint-up(lg) {
    width: 23rem;
  }
}
.btn-med-extend {
  width: 16rem;

  @include media-breakpoint-up(lg) {
    width: 18rem;
  }
}

// .btn-block {
//   @include media-breakpoint-up(lg) {
//     width: auto;
//   }
// }

.link-container-icon-left {
  position: relative;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 15px;

  @include media-breakpoint-up(lg) {
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .btn-link {
    position: relative;
    padding-left: 1.25rem;

    @include media-breakpoint-up(lg) {
      padding-left: 2rem;
    }

    &::before {
      position: absolute;
      content: "";
      background-image: url("../../../../../img/svg/arrow-left-blue.svg");
      background-size: 1rem;
      background-repeat: no-repeat;
      top: 0.6rem;
      left: 0;
      width: 1rem;
      height: 1rem;

      @include media-breakpoint-up(lg) {
        background-size: 1.5rem;
        top: 0.75rem;
        width: 1.5rem;
        height: 1.5rem;
      }
    }

    &:hover {
      color: $blue;
      &::before {
        background-image: url("../../../../../img/svg/arrow-left-dark-blue.svg");
      }
    }
  }
}

.link-container-icon-right {
  position: relative;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 15px;

  @include media-breakpoint-up(lg) {
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .btn-link {
    position: relative;
    padding-right: 1.25rem;
    padding-left: 0;

    @include media-breakpoint-up(lg) {
      padding-right: 2rem;
    }

    &::after {
      position: absolute;
      content: "";
      background-image: url("../../../../../img/svg/arrow-right-blue.svg");
      background-size: 1rem;
      background-repeat: no-repeat;
      top: 0.6rem;
      right: 0;
      width: 1rem;
      height: 1rem;

      @include media-breakpoint-up(lg) {
        background-size: 1.5rem;
        top: 0.75rem;
        width: 1.5rem;
        height: 1.5rem;
      }
    }

    &:hover {
      color: $blue;
      &::after {
        background-image: url("../../../../../img/svg/arrow-right-dark-blue.svg");
      }
    }
  }
}

.link-container-gray-icon-right {
  background-color: $gray-100;
  display: flex;
  position: relative;
  margin-bottom: 15px;
  padding: 0.375rem 0.5rem;

  a {
    position: relative;
    text-align: left;
    @include font-size(18);
    font-weight: $font-weight-bold;

    @include media-breakpoint-up(lg) {
      @include font-size(23);
    }

    &::after {
      position: absolute;
      content: "";
      background-image: url("../../../../../img/svg/arrow-right-blue.svg");
      background-size: 1rem;
      background-repeat: no-repeat;
      top: 0.75rem;
      right: 0.375rem;
      width: 1rem;
      height: 1rem;

      @include media-breakpoint-up(lg) {
        background-size: 1.5rem;
        top: 0.75rem;
        width: 1.5rem;
        height: 1.5rem;
      }
    }

    &:hover {
      color: $blue;
      &::after {
        background-image: url("../../../../../img/svg/arrow-right-dark-blue.svg");
      }
    }
  }
}

.text-link {
  position: relative;
  padding-right: 1.5rem;

  &::after {
    position: absolute;
    content: "";
    background-image: url("../../../../../img/svg/arrow-right-blue.svg");
    background-size: 0.875rem;
    background-repeat: no-repeat;
    //top: 0.125rem;
    right: 0;
    width: 0.875rem;
    height: 0.875rem;
    margin-top: 0.25rem;

    @include media-breakpoint-up(lg) {
      background-size: 1rem;
      top: 0;
      width: 1rem;
      height: 1rem;
    }
  }

  &:hover {
    color: $blue;
    &::after {
      background-image: url("../../../../../img/svg/arrow-right-dark-blue.svg");
    }
  }
}
