.btn:not(:disabled):not(.disabled) {
  cursor: pointer;
}

.btn-group-toggle {
  display: block;

  p {
    margin-bottom: 0;
    @include media-breakpoint-up(lg) {
      margin-top: 0.25rem;
    }
  }

  .btn-outline-secondary:not(:disabled):not(.disabled).active {
    background-color: $teal;
    border: 2px solid $cyan;
    color: $cyan;
  }

  .btn-outline-secondary {
    border-radius: 0.25rem !important;
    @include font-size(16);
    width: 70px;
    height: 40px;
    margin-right: 0.3rem;
    margin-bottom: 0.5rem !important;

    @include media-breakpoint-up(lg) {
      @include font-size(18);
      width: 70px;
      height: 50px;
      margin-right: 1.72rem;
      margin-bottom: 1.75rem !important;
    }

    &:nth-child(4n) {
      margin-right: 0;

      @include media-breakpoint-up(lg) {
        margin-right: 1.72rem;
      }
    }

    &:nth-child(5n) {
      @include media-breakpoint-up(lg) {
        margin-right: 0;
      }
    }

    &:hover {
      background-color: $teal;
      border: 2px solid $cyan;
      color: $cyan;
    }

    &:last-child {
      width: 70px;
      height: 40px;

      @include media-breakpoint-up(lg) {
        @include font-size(18);
        width: 70px;
        height: 50px;
      }
    }
  }
}
