// Name hero backgounds based on module/page name.
// Home page

.hero {
  background-size: cover;
  background-position: 90%;
  background-repeat: no-repeat;
  height: 10rem;

  @include media-breakpoint-up(md) {
    height: 15rem;
  }
  @include media-breakpoint-up(lg) {
    height: 17rem;
  }
  @include media-breakpoint-up(xl) {
    height: 20rem;
  }
}

.about-bg {
  background-image: url("/img/about.jpg");
}

.alerts-bg {
  background-image: url("/img/alerts.jpg");
}

.accessiblity-bg {
  background-image: url("/img/accessibility.jpg");
}

.bicycle-bg {
  background-image: url("/img/bicycle.jpg");
}

.blog-bg {
  background-image: url("/img/blog.jpg");
}

.carpool-vanpool-bg {
  background-image: url("/img/carpool-vanpool.jpg");
}

.contact-us-bg {
  background-image: url("/img/contact-us.jpg");
}

.default-bg {
  background-image: url("/img/default-page-header.jpg");
}

.fares-bg {
  background-image: url("/img/fares.jpg");
}

.goto-card-bg {
  background-image: url("/img/goto-card.jpg");
}

.home-bg {
  background-image: url("/img/home.jpg");
}

.how-to-ride-bg {
  background-image: url("/img/how-to-ride.jpg");
}

.impact-programs-bg {
  background-image: url("/img/inpact-programs.jpg");
}

.jobs-bg {
  background-image: url("/img/job-opportunities.jpg");
}

.news-bg {
  background-image: url("/img/news.jpg");
}

.nextrip-bg {
  background-image: url("/img/nextrip.jpg");
}

.park-ride-bg {
  background-image: url("/img/park-ride.jpg");
}

.pass-programs-bg {
  background-image: url("/img/pass-programs.jpg");
}

.police-bg {
  background-image: url("/img/police.jpg");
}

.public-art-bg {
  background-image: url("/img/public-art.jpg");
}

.schedules-maps-bg {
  background-image: url("/img/schedules-maps.jpg");
}

.stops-stations-bg {
  background-image: url("/img/stops-stations.jpg");
}

.transit-initiatives-bg {
  background-image: url("/img/transit-initiatives.jpg");
}

.trip-planner-bg {
  background-image: url("/img/trip-planner.jpg");
}
