#homeContent {
  position: relative;
  top: -4.68rem;
  margin-bottom: -4.62rem;

  @include media-breakpoint-up(md) {
    top: -4.24rem;
  }

  @include media-breakpoint-up(xl) {
    top: -5.14rem;
  }

  .container {
    @include media-breakpoint-up(md) {
      padding-right: 0;
      padding-left: 0;
    }
  }

  .section {
    padding-top: 30px;
    padding-bottom: 30px;

    @include media-breakpoint-up(lg) {
      padding-top: 60px;
      padding-bottom: 60px;
    }
  }
}
