.list-group {
  display: flex;

  .list-group-item {
    background-color: transparent;
    border-color: $gray-300;
    border-right: none;
    border-left: none;

    &:last-child {
      border-bottom: none;
    }
  }
}

#secondaryPage {
  .page-content {
    .gray-100 {
      padding: 1rem;

      h3 {
        border-bottom: 1px solid $border-color;
        padding: 0.5rem 0;
      }

      .list-group-item {
        padding: 0.5rem 1rem;
        @include font-size(18);

        @include media-breakpoint-up(lg) {
          @include font-size(23);
        }
      }
    }
  }
}
