div.mt-form {
  margin: 0;
  padding: 0;
}

div.mt-form div.mt-field {
  display: block;
  clear: both;
  margin-bottom: 1rem;
}

.mt-form .mt-field.row {
  display: flex !important;
  margin-bottom: 0;
}

div.mt-form div.mt-field div.mt-formleftcolumn {
  display: block;
  clear: left;
  float: left;
  width: 48%;
  padding-right: 2%;
  margin-bottom: 1rem;
}

div.mt-form div.mt-field div.mt-formrightcolumn {
  display: block;
  clear: right;
  float: right;
  width: 50%;
  margin-bottom: 1rem;
}

// Added to support Boostrap 4 grid use.
div.mt-form div.row div.col-lg-1,
div.mt-form div.row div.col-lg-2,
div.mt-form div.row div.col-lg-3,
div.mt-form div.row div.col-lg-4,
div.mt-form div.row div.col-lg-5,
div.mt-form div.row div.col-lg-6,
div.mt-form div.row div.col-lg-7,
div.mt-form div.row div.col-lg-8,
div.mt-form div.row div.col-lg-9,
div.mt-form div.row div.col-lg-10,
div.mt-form div.row div.col-lg-11 {
  margin-bottom: 1rem;
}

div.mt-form div.mt-field span.mt-required-notice {
  padding-left: 1rem;
  background: #fff
    url(data:image/gif;base64,R0lGODlhBwAHAIQUAIwAALALAKwSCawpJ/cuAP4yAP81APQ5CvQ6C/8+Cv8/Cv5RGP9RGfRhMfRiMf9jJ/50NP+GR/+HSPSKXP///////////////////////////////////////////////yH5BAEKAB8ALAAAAAAHAAcAAAUf4CcCojhMkiOIE/QsyAdED6MYZLMkBSEKBwMhUJKVQgA7)
    no-repeat 0 50%;
  /*background: #fff url(images/mt-required.gif) no-repeat 0 50%;*/
}

div.mt-form div.mt-field .mt-required {
  padding-right: 1rem;
  background: #fff
    url(data:image/gif;base64,R0lGODlhBwAHAIQUAIwAALALAKwSCawpJ/cuAP4yAP81APQ5CvQ6C/8+Cv8/Cv5RGP9RGfRhMfRiMf9jJ/50NP+GR/+HSPSKXP///////////////////////////////////////////////yH5BAEKAB8ALAAAAAAHAAcAAAUf4CcCojhMkiOIE/QsyAdED6MYZLMkBSEKBwMhUJKVQgA7)
    no-repeat 100% 50%;
  /*background: #fff url(images/mt-required.gif) no-repeat 100% 50%;*/
}

div.mt-form .mt-rightalign {
  text-align: right;
}

div.mt-form .mt-field ul.mt-radio-button-list,
div.mt-form .mt-field ul.mt-checkbox-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

div.mt-form .mt-field ul.mt-radio-button-list li,
div.mt-form .mt-field ul.mt-checkbox-list li {
  padding: 0 0.3em;
}

div.mt-form .mt-field table.mt-radio-button-list td,
div.mt-form .mt-field table.mt-checkbox-list td {
  padding: 0.3em 1rem 0.3em 0.3em;
}

div.mt-form .mt-field table.mt-radio-button-list,
div.mt-form .mt-field table.mt-checkbox-list {
  padding: 0.3em;
}

div.mt-form .mt-field span.mt-radio-button-list label,
div.mt-form .mt-field span.mt-checkbox-list label {
  padding: 0.3em 1rem 0.3em 0;
}

div.mt-form .mt-field span.mt-radio-button-list input,
div.mt-form .mt-field span.mt-checkbox-list input {
  margin: 0.3em;
}
div.mt-form .mt-field span.mt-radio-button-list,
div.mt-form .mt-field span.mt-checkbox-list {
  padding: 0.3em;
}
div.mt-form .mt-field span.mt-radio,
div.mt-form .mt-field span.mt-checkbox {
  padding: 0.3em;
}

div.mt-form .mt-field span.mt-radio label,
div.mt-form .mt-field span.mt-checkbox label {
  margin: 0 0.3em;
}

.mt-form input[type="text"],
.mt-form input[type="email"],
.mt-form input[type="password"],
.mt-form input[type="number"],
.mt-form input[type="tel"],
.mt-form input[type="search"],
.mt-form select {
  width: 100%;
  line-height: 1rem;
  height: 24px;
  padding: 0 6px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.mt-form input[type="number"],
.mt-form input[type="tel"],
.mt-form input[type="search"] {
  -moz-appearance: textfield;
}

.mt-form input[type="radio"],
.mt-form input[type="checkbox"] {
  /*position: relative;*/
  vertical-align: middle;
  margin: 0.3em;
}

.mt-form input[type="number"]::-webkit-inner-spin-button,
.mt-form input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

div.mt-form .mt-field .mt-checkbox,
div.mt-form .mt-field .mt-radio-button-list,
div.mt-form .mt-field .mt-checkbox-list,
div.mt-form .mt-field .mt-value,
div.mt-form .mt-field .mt-file-upload,
div.mt-form .mt-field .mt-file-upload input[type="file"],
div.mt-form .mt-field input[type="text"],
div.mt-form .mt-field input[type="password"],
div.mt-form .mt-field input[type="number"],
div.mt-form .mt-field input[type="tel"],
div.mt-form .mt-field input[type="search"],
div.mt-form .mt-field input[type="email"],
div.mt-form .mt-field textarea,
div.mt-form .mt-field select,
div.mt-form .row .mt-file-upload input[type="file"],
div.mt-form .row input[type="text"],
div.mt-form .row input[type="password"],
div.mt-form .row input[type="number"],
div.mt-form .row input[type="tel"],
div.mt-form .row input[type="search"],
div.mt-form .row input[type="email"] {
  display: block;
  border-top: solid 1px #e1e1e1;
  border-bottom: solid 1px #e1e1e1;
  border-left: solid 1px #e1e1e1;
  border-right: solid 1px #e1e1e1;
  border-radius: 0.3em;
  -moz-border-radius: 0.3em;
  -webkit-border-radius: 0.3em;
  -opera-border-radius: 0.3em;
  -khtml-border-radius: 0.3em;
}

div.mt-form .mt-field select {
  appearance: none;
  -o-appearance: none;
  -ms-appearance: none;
  -moz-appearance: none;
  -khtml-appearance: none;
  -webkit-appearance: none;
  text-indent: 0.01px;
  text-overflow: "";
  padding: 0 24px 0 6px;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB3aWR0aD0iMjUwcHgiIGhlaWdodD0iMjUwcHgiIHZpZXdCb3g9Ii0zMiAtNjcgMjc1IDI3NSI+PHBhdGggZD0iTTE2OC40NTIsNDIuMTIxbC02LjEwOS02LjExMWMtMi4xMTgtMi4wMDktNC41OS0zLjAxNC03LjQxMy0zLjAxNGMtMi44OCwwLTUuMzI0LDEuMDA1LTcuMzM0LDMuMDE0TDEwOCw3NS42MDcgTDY4LjQwNCwzNi4wMTFjLTIuMDEtMi4wMDktNC40NTQtMy4wMTQtNy4zMzMtMy4wMTRjLTIuODI0LDAtNS4yOTYsMS4wMDUtNy40MTQsMy4wMTRsLTYuMDI5LDYuMTExIGMtMi4wNjQsMi4wNjMtMy4wOTYsNC41MzUtMy4wOTYsNy40MTRjMCwyLjkzMywxLjAzMyw1LjM3NywzLjA5Niw3LjMzMmw1My4wMzksNTMuMDM5YzEuOTU2LDIuMDY0LDQuMzk5LDMuMDk2LDcuMzMzLDMuMDk2IGMyLjg3OSwwLDUuMzUtMS4wMzIsNy40MTMtMy4wOTZsNTMuMDM5LTUzLjAzOWMyLjAxLTIuMDEsMy4wMTYtNC40NTQsMy4wMTYtNy4zMzJDMTcxLjQ2OCw0Ni43MTEsMTcwLjQ2Miw0NC4yNCwxNjguNDUyLDQyLjEyMXoiLz48L3N2Zz4=");
  background-position: right center;
  background-repeat: no-repeat;
  background-size: contain;
}
select::-ms-expand {
  display: none;
}

div.mt-form .mt-field .mt-checkbox-space {
  display: inline-block;
  margin: 7px 0;
}

div.mt-form div.mt-field label,
div.mt-form div.mt-field .mt-label,
div.mt-form .form-group label {
  //color: #000;
  //font-style: italic;
  //display: inline-block;
  margin: 0.3em 0;
  width: auto !important;
  white-space: pre-wrap !important;
}

div.mt-form .mt-field .mt-inline input,
div.mt-form .mt-field .mt-inline select {
  display: inline-block !important;
  margin: 0;
}

div.mt-form .mt-field .mt-inline {
  //display: inline-block !important; // Defaults to block when float is set.
  float: left;
  margin-right: 1rem;
}

.mt-rounded {
  border-radius: 0.3em;
  -moz-border-radius: 0.3em;
  -webkit-border-radius: 0.3em;
  -opera-border-radius: 0.3em;
  -khtml-border-radius: 0.3em;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

.mt-rounded-right {
  border-radius: 0 0.3em 0.3em 0;
  -moz-border-radius: 0 0.3em 0.3em 0;
  -webkit-border-radius: 0 0.3em 0.3em 0;
  -opera-border-radius: 0 0.3em 0.3em 0;
  -khtml-border-radius: 0 0.3em 0.3em 0;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

.mt-rounded-left {
  border-radius: 0.3em 0 0 0.3em;
  -moz-border-radius: 0 0.3em 0.3em 0;
  -webkit-border-radius: 0 0.3em 0.3em 0;
  -opera-border-radius: 0 0.3em 0.3em 0;
  -khtml-border-radius: 0 0.3em 0.3em 0;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

.mt-floatsummary {
  position: absolute !important;
  top: 0;
  left: 0;
  display: none;
  z-index: 999;
  box-shadow: #666 2px 2px 5px;
}

.mt-validation-summary {
  background-color: #ffcccc !important;
  border: 1px solid #ed1b2e !important;
  color: #ed1b2e;
  font-weight: bold;
  margin: 0 0 1rem;
  padding: 0.5em;
}

.mt-validation-summary li {
  font-weight: normal;
  list-style-type: square;
}

div.mt-form .mt-field .mt-smallest {
  width: 3em;
}

div.mt-form .mt-field .mt-smaller {
  width: 5em;
}

div.mt-form .mt-field .mt-small {
  width: 8em;
}

div.mt-form .mt-field .mt-wide {
  width: 16em;
}

div.mt-form .mt-field .mt-wider {
  width: 20em;
}

div.mt-form .mt-field .mt-widest {
  width: 24em;
}

div.mt-form .mt-field .mt-fullwidth {
  width: 100% !important;
}

.mt-entry-section input {
  width: 16em !important;
  margin-bottom: 0.5em;
}

input[type="search"] {
  -webkit-appearance: textfield !important;
  box-sizing: initial !important;
}

h3.navigator {
  margin: 10px 0 5px 0 !important;
}

select.navigator {
  margin: 0 0 10px 0 !important;
}
