.pagination {
  .page-item {
    .page-link {
      border: 1px solid $gray-200;
      @include font-size(16);
    }

    &:first-child .page-link {
      border-top-left-radius: 0.25rem;
      border-bottom-left-radius: 0.25rem;
    }

    &:last-child .page-link {
      border-top-right-radius: 0.25rem;
      border-bottom-right-radius: 0.25rem;
    }
  }
}
