.page-content {
  h2.sr-only {
    margin-bottom: 0;
  }
  // These styles sets fixed width on HTML Module fragments in CMS
  .htmlmodule,
  .body-content {
    @include media-breakpoint-up(lg) {
      width: 770px;
      margin: 0 auto;
    }
  }

  .content-full-width {
    .htmlmodule {
      @include media-breakpoint-up(xl) {
        width: 1140px !important;
      }
    }
  }

  // These styles are for all content pages except the home page.
  h2 {
    margin-bottom: 15px;

    // @include media-breakpoint-up(lg) {
    //   margin-bottom: 30px;
    // }

    .icon {
      @include media-breakpoint-up(lg) {
        width: 3rem;
        height: 3rem;
        margin-right: 0.5rem;
      }
    }
  }

  .secondary-hero {
    width: 100%;
    height: auto;
    margin-bottom: 15px;

    @include media-breakpoint-up(lg) {
      margin-bottom: 30px;
    }
  }
}
