@media print {
  .web-schedule header,
  .web-schedule footer,
  .secondary,
  div.route > .section,
  .modulelinks,
  #toolbar {
    display: none;
  }

  .schedule-print-title {
    display: block !important;
  }

  div.route > .section:nth-child(3) {
    display: block !important;
    width: 90%;
  }

  .route .schedule-scroll,
  .route .timetable-container,
  .route .schedule-scroll-body,
  .full-width {
    max-height: 100%;
    margin: auto;
    left: auto;
    display: block;
    overflow-x: visible !important;
    overflow-y: visible !important;
    height: 100% !important;
  }

  .route div.timetables a {
    display: none;
  }
}
