#schedulesMaps {
  .icon {
    width: 2.5rem;
    height: 2.5rem;
  }

  .input-group {
    .form-control {
      border-right: none;
    }
    .input-group-text,
    .btn {
      background-color: transparent;
      border-left: none;
      padding: 0.25rem 0.75rem;

      .icon {
        width: 1rem;
        height: 1rem;
      }
    }
  }

  .auto-complete-search-box {
    .input-group {
      margin-left: auto;

      @include media-breakpoint-up(lg) {
        margin: 0 auto;
      }
    }
  }

  .popular-routes {
    margin-bottom: 1rem;

    .routes {
      margin-bottom: 1.12rem;

      @include media-breakpoint-up(md) {
        margin-right: 1rem;
        margin-bottom: 1rem;
      }
    }
  }

  .metro-brt,
  .commuter-rail {
    .btn-outline-secondary {
      display: block;
      margin-bottom: 1rem;

      @include media-breakpoint-up(lg) {
        display: inline-block;
        margin-bottom: 0;
      }
    }
  }

  .btn-outline-info {
    margin-bottom: 1rem;
    width: 100%;

    @include media-breakpoint-up(md) {
      margin-right: 0;
      width: 16.875rem;
    }
  }

  // /bus-schedules-maps.html
  .bus-routes {
    margin-bottom: 15px;
    @include media-breakpoint-up(lg) {
      margin-bottom: 30px;
    }
    .btn-outline-secondary {
      width: 70px;
      height: 50px;
      margin-right: 0.75rem;
      margin-bottom: 0.75rem;

      @include media-breakpoint-up(md) {
        margin-right: 1.15rem;
        margin-bottom: 1.15rem;
      }

      @include media-breakpoint-up(lg) {
        &:nth-child(4n),
        &:nth-child(8n) {
          margin-right: 1.15rem;
        }

        &:nth-child(11n) {
          margin-right: 0;
        }
      }

      @include media-breakpoint-up(xl) {
        margin-right: 1.215rem;
        &:nth-child(11n) {
          margin-right: 1.15rem;
        }

        &:nth-child(13n) {
          margin-right: 0;
        }
      }
    }
  }

  #interactiveMap {
    .auto-complete-search-box {
      .input-group::before {
        background-image: none !important;
      }
    }
  }
}
