.secondary-nav {
  margin-top: 15px;
  //   margin-bottom: 15px;

  //   @include media-breakpoint-up(lg) {
  //     margin-bottom: 30px;
  //   }

  .nav {
    display: block;

    @include media-breakpoint-up(lg) {
      display: flex;
    }

    .nav-item {
      padding: 0.25rem 0;

      @include media-breakpoint-up(lg) {
        //   display: inline-block;
        padding: 0.5rem 1rem;
      }

      .nav-link {
        color: #b0b1b0;
        @include font-size(18);
        padding: 0;
        margin-left: 0.25rem;
        transition: transform 0.8s;
      }
      .active {
        color: $gray-600;
        border-left: 2px solid $cyan;
        margin-left: -0.25rem;

        @include media-breakpoint-up(lg) {
          border-bottom: 2px solid $cyan;
          border-left: none;
        }
      }

      &:first-child {
        padding-left: 0;

        .nav-link {
          margin-left: 0;
        }
      }
      &:last-child {
        padding-right: 0;
      }
    }
  }
}
