.page-content {
  .nav-tabs {
    border-bottom: 1px solid $border-color;
    margin-bottom: 15px;

    @include media-breakpoint-up(lg) {
      margin-bottom: 30px;
    }

    .nav-item {
      .nav-link {
        &.active {
          border-top: 1px solid $border-color;
          border-right: 1px solid $border-color;
          border-bottom: 2px solid $white;
          border-left: 1px solid $border-color;
        }
      }
    }
  }
}
